@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #e4e2e2;
  --secondary-color: rgb(127, 156, 184);
}

/* App */
.main-container {
  width: 100%;
  height: 90vh;
}

/* Convert Page */
.pageConvert {
  height: 90vh;
}

/* Convert Page Currency */
.currency {
  color: rgb(21, 20, 20);
  align-self: center;
  padding: 5% 5% 5% 5%;
  border-radius: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.table {
  width: 100%;
}
.table td {
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 10px;
  width: 400px;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  font-family: "Montserrat", sans-serif;
}

/* Convert Page Converter */
.converter {
  margin: 5% 0 0 14%;
  padding: 5% 3% 5% 3%;
  width: 65%;
  display: flex;
  justify-content: space-around;
}
.btn {
  margin: 34px 15px 0 15px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: transparent;
}
.article {
  padding: 5% 5% 5% 5%;
  width: 65%;
  height: 130px;
  border-radius: 12px;
  border: 1px solid #ddd;
}
.flex-article {
  display: flex;
  justify-content: space-between;
}
.article h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.select {
  width: 130px;
  height: 35px;
  margin: 5px;
  border: none;
}
.input {
  width: 240px;
  height: 35px;
  margin: 5px;
  border: none;
  padding-left: 10px;
  border: 1px solid #ddd;
}

/*  Header */
.header-layout {
  text-align: center;
  color: whitesmoke;
  font-family: "Koulen", cursive;
}
.theme-header {
  font-size: 30px;
  font-family: "Koulen", cursive;
  color: whitesmoke;
  text-align: center;
  padding-top: 30px;
}
.link {
  text-decoration: none;
  color: #0a146d;
  border: none;
  padding: 20px 15.3% 20px 13.24%;
  background-color: #f0f5f9;
}

.active {
  background-color: white;
}
/* .link-toggle {
  text-decoration: none;
  color: #0a146d;
  border: none;
  padding: 20px 15.3% 20px 13.24%;
  background-color: #ffffff;
} */
.all-layout {
  width: 80%;
  margin-left: 130px;
}
.background-header {
  background-image: url(https://images.unsplash.com/photo-1624996379697-f01d168b1a52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  width: 100%;
  height: 35vh;
}

/* Charts Page */

.chartPageMain {
  height: 90vh;
  padding: 5% 5% 5% 5%;
}
.charts-table {
  margin-top: 30px;
  width: 100%;
}
.charts-table td {
  border: 1px solid #ddd;
  border-radius: 7px;
  padding: 10px;
  width: 30%;
}
.charts-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  font-family: "Montserrat", sans-serif;
}
/* Currency Page*/
.currencyPage {
  height: 90vh;
  padding: 5% 5% 5% 5%;
}
